@model DogsMvc.Models.Dog
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Dogs </title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
    <main>
    <h2>Dogs</h2>
		<form action="/AddDog" method="post">
			Add dog
			Name
			<input type="text" name="Name">
			Age
			<input type="text" name="Age">
			ID
			<input type="text" name="Id">
			<button>Add Dog to list</button>
		</form>
  </main>
</body>
</html>
